hello world
<app-container>
    <app-rooms></app-rooms>
    <app-employee></app-employee>
    <h1> this is from ng-content</h1>
     </app-container>

<!-- <div [ngSwitch] = 'role'>
    <div *ngSwitchCase="'User' ">
    welcome user
    </div>

    <div *ngSwitchCase="'Admin' ">
        welcome Admin
        <app-rooms></app-rooms>
        </div>
    

    <div   *ngSwitchDefault>
you dont have rights to view the page
    </div>
</div> -->
<!-- <app-rooms></app-rooms>  -->
<!-- <div>

    <ng-template #user></ng-template>
    <h1> Welcome da bhaiiii !!!</h1>
</div> -->
